{{#each data}}
<div class="education__container-tag">
    <h3>{{title}}</h3>
    <h2>{{description}}</h2>
    <div class="tag-design">
        <hr>
        <p>&#9733;</p>
        <hr>
    </div>
</div>
{{/each}}