<div class="experience__container">
    {{#each experienceArray}}
    <div class="swipe experience__container-item">
        <div class="title-info">
            <h1>{{place}}</h1>
            <p>{{date}}</p>
        </div>    
        <h3>{{title}}</h3>
        <ul>
            <li id="list--item">&#8226; Minima ullam inventore veniam pariatur optio neque quidem. Maxime sint et enim temporibus saepe.</li>
            <li id="list--item">&#8226; Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores officia corrupti atque beatae!</li>
            <li id="list--item">&#8226; Alias neque harum quo error optio nesciunt! Odit nostrum nemo amet delectus mol cupiditate architecto.</li>
        </ul>
    </div>
    {{/each}}
</div>
