<div class="hidden-menu hamburger__anchors">
    <div class="hamburger__anchors-content">
        <div class="anchor__container">
            <a href="/#about" class="hamburger-link">About</a>
        </div>
        <hr>
        <div class="anchor__container">
            <a href="/#experience" class="hamburger-link">Work</a> 
        </div>
        <hr>
        <div class="anchor__container">       
            <a href="/#skills" class="hamburger-link">Skills</a>
        </div>
        <hr>
        <div class="anchor__container">     
            <a href="/#projects" class="hamburger-link">Projects</a>    
        </div>
        <hr>
        <div class="anchor__container">  
            <a href="/contact" class="hamburger-link">Contact</a>
        </div> 
    </div>
</div>