* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
    --button-width: 40px;
    --button-height: calc(var(--button-width) * .8);
    --rectangle-height: calc(var(--button-width) * .1);
    --rectangle-radius: calc(var(--button-width) * .04);
    --translate: calc(var(--button-width) * .17);
    --transition: 0.65s;
}
  
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    background-color: rgb(113, 172, 138);
}

#title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 5rem;
    font-size: 6rem;
    animation: SlideIn 1s linear;
}
@media (max-width: 550px) {
    :root {
        --button-width: 30px;
    }
}