<section id="about">
    <div class="zoom about__content" data-id="element-appear">
        <div class="about__content-writing">
            <h2>About me:</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores 
                officia corrupti atque beatae! Alias neque harum quo error optio nesciunt! 
                Odit nostrum nemo amet delectus mollitia, laborum molestias cupiditate architecto.
                <br>
                <br>
                Possimus explicabo, sit cum maxime similique quam asperiores quis tempore facere 
                iusto accusamus, corporis ipsum mollitia magni aut vitae, blanditiis tempora 
                porro aliquid! Id sequi non nemo quasi fugit amet? Possimus explicabo, sit cum maxime similique quam asperiores quis tempore facere 
                iusto accusamus, corporis ipsum mollitia magni aut vitae, blanditiis tempora 
                porro aliquid! Id sequi non nemo quasi fugit amet? Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores 
                officia corrupti atque beatae! Id sequi non nemo quasi fugit amet. 
                <br>
                <br> 
            </p>
            <h4>My skills include:</h4>
            <ul>
                <li>Graphic Design</li>
                <li>Social Media</li>
                <li>Ad creation</li>
                <li>Analytical skills</li>
                <li>Project management</li>
                <li>Team calaboration</li>
            </ul>
        </div>
        <img src="/img/square.png" alt="Author image" id="owner">
    </div>  
</section>