<section class="section" id="experience">
    <h1 id="experience-title">Work experience:</h1>
    <div class="zoom operations" data-id="element-appear">
      <div class="wrapper">
        <div class="operations__tab-container">
          <button
            class="btn operations__tab step--1 operations__tab--active"
            data-tab="1"
          >
          DigiMarket
          </button>
          <button class="btn operations__tab step--2" data-tab="2">
          Webhut Inc.
          </button>
          <button class="btn operations__tab step--3" data-tab="3">
          Reboot Marketing
          </button>
          <button class="btn operations__tab step--4" data-tab="4">
          Shift Digital
          </button>
        </div>
      </div>
      <div
        class="operations__content operations__content--1 operations__content--active"
      >
        <h1>Founder <span>@DigiMarket</span></h1>
        <h3>December 2021 - Present</h3>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
      </div>
      <div class="operations__content operations__content--2">
        <h1>Social Media Manager <span>@Webhut Inc.</span></h1>
        <h3>August 2019 -  December 2021</h3>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
      </div>
      <div class="operations__content operations__content--3">
        <h1>Web Methods Integrator <span>@Dice</span></h1>
        <h3>May 2017 - August 2019</h3>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
      </div>
      <div class="operations__content operations__content--4">
        <h1>Marketing Intern <span>@Shift Digital</span></h1>
        <h3>May - August 2016</h3>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
        <p>
          &#8226; Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Alias ex, inventore omnis magni non blanditiis modi. Ea, neque 
          suscipit obcaecati, natus magnam odio.
        </p>
      </div>
    </div>
</section>