<footer id="footer">
    <div class="zoom footer__container" data-id="element-appear">
        <div class="footer__heading">
            <h2>Want to get in touch?</h2>
            <h3>Fill out the contact form and I will get back with you!</h3>
            <div class="anchor__bin">
            <a href="/contact" id="contact--btn">Contact</a>
            </div>
        </div>
    </div>
    <p id="copyright">&#169; Websume.net</p>
</footer>