<section id="projects">
    <div class="project__container">
        <h1 id="projects-title">Notable Projects:</h1>
        <div class="project__item">
            <img class="zoom" src="/img/project1.jpg" alt="" id="project-img" data-id="element-appear">
            <div class="project__text scale">
                <h2>Shift Digital</h2>
                <h1>Data Analytics</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit officia, ab adipisci pariatur reprehenderit quidem non necessitatibus aperiam voluptate quas laboriosam laudantium magnam ratione dolorum aspernatur illo perspiciatis quia iusto.
                Ex at quidem tenetur ab esse beatae magni exercitationem cumque amet laboriosam, perspiciatis hic aliquam totam aperiam. Qui necessitatibus aliquam earum voluptatibus amet? Qui, quidem optio enim numquam rerum ea.</p>
            </div>
        </div>
        <div class="project__item">
            <div class="project__text scale">
                <h2>Ford Project</h2>
                <h1>Reboot Marketing</h1>
                <p id="mid-paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit officia, ab adipisci pariatur reprehenderit quidem non necessitatibus aperiam voluptate quas laboriosam laudantium magnam ratione dolorum aspernatur illo perspiciatis quia iusto.
                Ex at quidem tenetur ab esse beatae magni exercitationem cumque amet laboriosam, perspiciatis hic aliquam totam aperiam. Qui necessitatibus aliquam earum voluptatibus amet? Qui, quidem optio enim numquam rerum ea.</p>
            </div>
            <img class="zoom" src="/img/project2.jpg" alt="" id="project-img" data-id="element-appear">
        </div>
        <div class="project__item">
            <img class="zoom" src="/img/project3.jpg" alt="" id="project-img" data-id="element-appear">
            <div class="project__text scale">
                <h2>Webhut Inc.</h2>
                <h1>Social Media Accounts</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit officia, ab adipisci pariatur reprehenderit quidem non necessitatibus aperiam voluptate quas laboriosam laudantium magnam ratione dolorum aspernatur illo perspiciatis quia iusto.
                Ex at quidem tenetur ab esse beatae magni exercitationem cumque amet laboriosam, perspiciatis hic aliquam totam aperiam. Qui necessitatibus aliquam earum voluptatibus amet? Qui, quidem optio enim numquam rerum ea.</p>
            </div>
        </div>
    </div>
</section>