<section class="section" id="skills">
    <h1 id="skills-title">Key skills</h1>
    <div class="option__container">
        <div class="option__container-item zoom" data-id="element-appear">
            <div class="option-content">
                <h6>Personal skills</h6>
                <div class="skill">
                    <h2>Working with others</h2>
                    <ul>
                        <li>&#8226; Worked on a team to organize a fundraiser that raised $25,000 for ASU soccer</li>
                        <li>&#8226; Collaborated on a team to create an enrollment video for incoming freshman</li>
                    </ul>
                </div>

                <div class="skill">
                    <h2>Attention to detail</h2>
                    <ul>
                        <li>&#8226; Caught multiple grammar errors in a Google document that was going to be sent to new Gmail users</li>
                        <li>&#8226; Able to incorporate the little details in my freelance photographs</li>
                    </ul>
                </div>


                <div class="skill">
                    <h2>Public speaking</h2>
                    <ul>
                        <li>&#8226; Gave a speech at ASU graduation to over 10,000 people</li>
                        <li>&#8226; Was the main voice personality on ASU 98.4 radio station</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="option__container-item zoom" data-id="element-appear">
            <div class="option-content">
                <h6>Professional skills</h6>

                <div class="skill">
                    <h2>Technical writing</h2>
                    <ul>
                        <li>&#8226; Created employee handbooks for onboarding Google employees</li>
                        <li>&#8226; Wrote instruction manual for ASU textbook API</li>
                    </ul>
                </div>

                <div class="skill">
                    <h2>Video editing</h2>
                    <ul>
                        <li>&#8226; Edited wedding videos for a wedding videographer using iMovie</li>
                        <li>&#8226; Created informational ads for the Google nest</li>
                    </ul>
                </div>

                <div class="skill">
                    <h2>Interviewing skills</h2>
                    <ul>
                        <li>&#8226; Interviewed the Arizona State football team about their upcoming schedule</li>
                        <li>&#8226; Interviewed Google nest users for the nest ad campaign</li>
                    </ul>
                </div>                
            </div>
        </div>
    </div>
</section>